<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.9.min.js"></script>
    <script src="../../../static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../../static/style.css" />

    <title>Quantify Me</title>
  </head>
  
  <body class="gradient-custom">
    <div class="text-center text-white">
      <h1>Quantify Me</h1>
      <h5>Track all your daily activities!</h5>
    </div>
    <section class="vh-75 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Edit Log {{log.id}} - {{ tracker.name }}</h2>
                  <p class="text-white-50 mb-5">What did you do today?</p>
                  <form method="post">
                    <label for="date">Timestamp</label>
                    <input
                        type="datetime-local"
                        class="form-control"
                        id="date"
                        name="date"
            value="{{log.timestamp}}"
                        required
                    />
                    <label for="value">Value</label>
            {% if tracker.tracker_type=='Numerical'  %}
            
                    <input
                        type="number"
                        class="form-control"
                        id="value"
                        name="value"
                        placeholder="Enter Number"
                        maxlength="30"
            value="{{log.value}}"
                        required
                    />
            {% elif tracker.tracker_type=='Time Duration' %}
                    <input
                        type="number"
                        class="form-control"
                        id="value"
                        name="value"
                        placeholder="Enter time duration (in mins)"
                        maxlength="30"
            value="{{log.value}}"
                        required
                    />
            {% elif tracker.tracker_type=='Multiple Choice' %}
                                    <select style="width: 300px;text-align: center;border-radius: 15px;" id="value"  class="form-control"  name="value" required>
                            <option value="{{log.value}}">{{log.value}}</option>
                                        <option value="Happy">Happy</option>
                                        <option value="Sad">Sad</option>
                                        <option value="Angry">Angry</option>
                                        <option value="Depressed">Depressed</option>
                                        <option value="Anxious">Anxious</option>
            
                                        </select>
            
            {% elif tracker.tracker_type=='Boolean' %}
                         <br>
                         {% if log.value=='True' %}
                         <input type="radio" id="value" name="value" value="{{log.value}}" checked>
                         <label for="value">{{log.value}}</label><br>
                         <input type="radio" id="value" name="value" value="False">
                         <label for="value">False</label><br>
                         {% else %}
                         <input type="radio" id="value" name="value" value="True">
                         <label for="value">True</label><br>
                         <input type="radio" id="value" name="value" value="{{log.value}}" checked>
                         <label for="value">{{log.value}}</label><br>
                         {% endif %}
            {% endif %}
            
                        <label for="notes">Notes</label>
                    <textarea
                        class="form-control"
                        id="notes"
                        name="notes"
                        placeholder="Enter log notes"
                        maxlength="200"
                        required
                    >{{log.note}}</textarea>
                    <br>
                    <button
                      type="submit"
                      class="btn btn-block btn-primary mt-4"
                    >
                    Save Log
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
